.accordion {
    padding: 5px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    cursor: pointer;
    transition: 0.4s;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
        width: 24px;
        height: 24px;
        transition: all 0.4s;
    }

    &.active {
        .accordion__icon {
            transform: rotate(90deg);
        }
    }
}

.panel {
    overflow: hidden;
    transition: all 0.4s;
    max-height: 0;
}