.slider {
  margin-bottom: 20px;
  position: relative;

  &__img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__info {
    margin-right: 32px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;

    &_persons {
      display: flex;
      align-items: center;
    }

    &_person {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 12px;
      color: #979797;
      background: #c4c4c4;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:nth-child(1) {
        z-index: 4;
      }
      &:nth-child(2) {
        z-index: 3;
      }
      &:nth-child(3) {
        z-index: 2;
      }

      &:hover {
        // opacity: 0.7;
        border: 3px solid #7689ce;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &_more {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: #979797;
        background: #c4c4c4;
        transform: translateX(-100%);
      }
    }

    &_descr {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 10px;
      color: #979797;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &_prev {
      transform: rotate(-180deg);
    }

    &_prev,
    &_next {
      position: relative;
      z-index: 10;
      width: 22px;
      height: 22px;
      cursor: pointer;
      background-color: #fff;

      img {
        pointer-events: none;
      }

      &:disabled {
        opacity: 0.7;
      }
    }
  }
}
